.screen-time-window {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%; /* 40% of the screen */
    height: 100%;
    background-color: #00296b; /* Background color */
    color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    z-index: 1000; /* Ensure it's above other elements */
    transform: translateX(100%); /* Initially hidden */
    transition: transform 0.3s ease-in-out; /* Smooth slide-in */
  }
  
  .screen-time-window.active {
    transform: translateX(0); /* Slide into view */
  }
  
  .screen-time-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-size: 24px;
    top:10px;
  }
  
  .screen-time-header h2 {
    margin: 0;
    font-family: "Archivo", sans-serif;

  }
  
  .close-btn {
    background: none;
    border: none;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .screen-time-list {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .screen-time-list li {
    margin: 10px 0;
    font-size: 18px;
  }