.App {
    font-family: Arial, sans-serif;
  }
  .extension-icon {
    position: fixed;
    top: 10px;   /* Adjust this value for desired distance from top */
    left: 30px;  /* Adjust this value for desired distance from left */
    width: 50px; /* Set appropriate width for the icon */
    height: 50px; /* Set appropriate height for the icon */
    z-index: 100; /* Ensure it stays on top of other elements */
  }
  .Title{
    position: fixed;
    top: 3px;   /* Adjust this value for desired distance from top */
    left: 70px;  /* Adjust this value for desired distance from left */
    font-size: 30px;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    color:white;
  }
  .extension-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
  }
  
  
  
  .screen-time-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 40px; /* Adjust size as needed */
    cursor: pointer;
    color: #003566; /* Adjust color if needed */
  }